body {
  background-image: url(background.png);
  background-size: 100%;
  text-align: center;
}

.allElements{
  width: 78%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#btnResetMovie {
  margin-bottom: 4vh;
  cursor: pointer;
  height: fit-content;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border: 4px solid darkgray;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.modal-open {
  overflow: hidden;
}

/* The Modal (background) */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden;
  /*overflow: hidden; */
}

/* Modal Content/Box */
.modal {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /*
  max-width: 80%;
  max-height: 80%;
  */
}

/* Style to make scrollbar always visible in the modal */
.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contenedorLogo{
  display: inline-flex;
  justify-content: center;
}

.contenedor{
  display: inline-flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.contenedorSelect{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 50px;
}

.contenedorFunFact{
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

.logoinicio{
  width: 50%;
}

.contenedorTarjetas{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 50px;
  column-width: 50%;
}

.poster{
  width: 20%;
  box-shadow: 20px 15px 15px rgb(124, 130, 123);
  border-radius: 10px;
}

.sortBy{
  cursor: pointer;
  height: fit-content;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border: 4px solid darkgray;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}
select, option{
  text-align: left;
  width: 100%;
  font-size: 70%;

}

.filterBy{
  cursor: pointer;
  height: fit-content;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border: 4px solid darkgray;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;  
}

.fun-fact{
  cursor: pointer;
  height: fit-content;
  padding: 10px;
  text-align: center;
  border: 4px solid darkgray;
  border-radius: 10px;
  width: auto;
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
}

p[class~="fun-fact"]{
  background-color: aliceblue;
  display: inline-flex;
  align-items: center;
  width: auto;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
}

@media screen and (max-width: 1200px){
  body {
    background-image: url(background.png);
    text-align: center;
    background-attachment: fixed;
    background-size: 100%;
    width: 98%;
  }
  
  .allElements{
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header{
    display: flex;
    flex-direction: column;
    gap: 0%;
    padding: 0%;
  }
  
  .contenedorLogo{
    display: inline-flex;
    justify-content: center;
  }
  
  .contenedor{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 100%;
    padding: 0%;
    width: 100%;
  }
  
  .contenedorSelect{
    display: inline-flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding-bottom: 5%;
  }
  
  .contenedorFunFact{
    display: inline-flex;
    flex-direction: column;
    width: 80%;
  }
  
  .logoinicio{
    width: 70%;
  }
  
  .contenedorTarjetas{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding: 5%;
  }
  
  .poster{
    width: 40%;
    box-shadow: 20px 15px 15px rgb(124, 130, 123);
    border-radius: 10px;
  }
  
  .sortBy{
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: fit-content;
    font-size: 100%;
    width: 40%;
  }
  
  .filterBy{
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;  
    font-size: 100%;
    width: 40%;
  }
  select, option{
    width: 100%;
    font-size: 80%;
  }
  
  .fun-fact{
    height: fit-content;
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
  }
  
  p[class~="fun-fact"]{
    background-color: aliceblue;
    display: inline-flex;
    align-items: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-weight: normal;
    width: auto;
  }
}

@media screen and (max-width: 700px){
  body {
    background-image: url(background.png);
    text-align: center;
    background-attachment: fixed;
    background-size: 100%;
    width: 98%;
  }
  
  .allElements{
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header{
    display: flex;
    flex-direction: column;
    gap: 0%;
    padding: 0%;
  }
  
  .contenedorLogo{
    display: inline-flex;
    justify-content: center;
  }
  
  .contenedor{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 100%;
    padding: 0%;
    width: 100%;
  }
  
  .contenedorSelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding-bottom: 5%;
  }
  
  .contenedorFunFact{
    display: inline-flex;
    flex-direction: column;
    width: 80%;
  }
  
  .logoinicio{
    width: 100%;
  }
  
  .contenedorTarjetas{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding: 10%;
  }
  
  .poster{
    width: 100%;
    box-shadow: 20px 15px 15px rgb(124, 130, 123);
    border-radius: 10px;
  }
  
  .sortBy{
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: fit-content;
    font-size: 80%;
    width: 40%;
  }
  select, option{
    width: 100%;
    font-size: 50%;
  }

  .filterBy{
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;  
    font-size: 80%;
    width: 40%;
  }
  
  .fun-fact{
    height: fit-content;
    text-align: center;
    border: 5% solid darkgray;
    border-radius: 1%;
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
  }
  
  p[class~="fun-fact"]{
    background-color: aliceblue;
    display: inline-flex;
    align-items: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    line-height: 1.5;
    font-weight: normal;
    width: auto;
  }
}